@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html > body {
  font-family: 'GmarketSansMedium';
}


:root {
  --white-color: #fff;
  --black-color: #140a00;
  --blue-color: #045fd4;
  --red-color: #ff0000;
  --grey-drak-color: #909090;
  --grey-light-color: #e0e0e0;

/* size */
  --padding: 12px;
  --avatar-size: 36px;

  /* font-size */
  --font-large: 18px;
  --font-medium: 14px;
  --font-small: 12px;
  --font-micro: 10px;

}

body, ul, li{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
  
}
/* header */
header {
  display: flex;
  justify-content: space-between;
  padding: var(--padding);
  background-color: var(--black-color);
  color: var(--white-color);

  > .logo{
    font-size: var(--font-large);

    > i {
      color: var(--red-color);
    }
  }
}

header .icons > .fa-solid {
  margin-right: var(--padding);
}

/* video player */
.player {
  position: sticky;
  top: 0;
  text-align: center;
  /* 왜 비디오 가운데로 안감??? */
  background-color: var(--black-color);

  > video {
  width: 100%;
  height: 100%;
  max-width: 1000px;
  }
}

.info {
  padding: var(--padding);

  .hashtags {
    display: flex;
    font-size: var(--font-small);
    color: var(--blue-color);
  }

  & li {
    margin-right: 12px;
  }
}

.info > .metadata > .titleandbutton {
  display: flex;
}

.info > .metadata > .titleandbutton > .title {
  font-size: var(--font-medium); 
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  margin-right: 12px;
}

.info > .metadata > .titleandbutton > .moreBtn {
  height: 100%;
}

.info .views {
  font-size: var(--font-small);
  color: var(--grey-drak-color);
}

/* Action buttons */
.info .actions {
  display: flex;
  justify-content: space-around;
  margin: 12px 0;
}

.info .actions  button {
  display: flex;
  flex-direction: column;
  font-size: var(--font-small);
}

.info .actions  button i {
  margin: 0 auto;
  padding-bottom: calc(var(--padding) / 2);
  font-size: 16px;
  color: var(--grey-drak-color);
}

.info .actions > li > button > i.active {
  color: var(--blue-color);
}

/* channel 정보 */
.channel {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--grey-light-color);
  border-bottom: 1px solid var(--grey-light-color);
}

.channel > .metadata {
  display: flex;
  align-items:  center;
}

.channel .metadata img {
  width: var(--avatar-size);
  height: var(--avatar-size);
  border-radius: 50%;
}

.channel .metadata .info {
  display: flex;
  flex-direction: column;
}

.channel .metadata .info .name {
  font-size: var(--font-medium); 
}

.channel .metadata .info .subscribers {
  font-size: var(--font-small);
  color: var(--grey-drak-color);
}

.channel .subscribe {
  text-transform: uppercase;
  color: var(--red-color);
  font-size: var(--font-medium);
}

/* up next */

.upnext {
  padding: 0 var(--padding);
}
.upnext > .title {
  font-size: var(--font-medium);
  color: var(--grey-drak-color);
}


